body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #fffaf0; /* 背景顏色色號 */
}

.box {
    text-align: center;
    padding-top: 60px; /* 與頂部間距 */
}

.theme {
    font-size: 4.2vw; /* 字體大小隨畫面變化 */
    color: #1685a9;
}

.sub {
    font-size: 1.8vw; /* 字體大小隨畫面變化 */
    color: #4c8dae;
}

.link a {
    color: blue;
    text-decoration: underline;
}

.box img {
    position: absolute; /* 將圖片設置為絕對定位 */
    bottom: -5px; /* 圖片與底部距離 */
    transform: translateX(-50%); /* 使用transform屬性使圖片水平居中 */
    width: 730px; /* 設置圖片寬度為 200px */
    height: auto; /* 高度隨寬度變化 */
    z-index: -1; /* 將圖片的疊層順序設為負值，使其位於文字下方 */
    margin-bottom: 20px; /* 在圖片底部留出 20px 的空白 */
}

.icon-container {
    position: absolute;
    bottom: 20px;
    right: 180px;
    display: flex;
    z-index: 1; /* 设置图标的 z-index 值为 1，使其位于最上层 */
}

.icon {
    margin-left: 50px;
}

.icon img {
    width: 60px; /* 调整图标宽度 */
    height: auto;
}
